


<div class="row mt-4 mb-4">
    <h4 class="text-center">WelCome...!!!</h4>
  </div>


<!-- <div >
    <ul class="navbar-nav mb-lg-0 d-flex ">
      <div class="d-flex  justify-content-center">
        <li class="nav-item">
          <button class="me-3" pButton type="button" > <a class="btn  text-white  me-2" routerLink="login">Login</a></button>
         </li> 
         <li class="nav-item">
          <button pButton type="button" > <a class="btn  text-white  " routerLink="register">Register/signUp</a></button>
         </li> 
        
      </div> -->



       <nav class="navbar navbar-expand-lg navbar-light bg-secondary bg-opacity-75">
        <div class="container-fluid">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active mx-5" aria-current="page" routerLink="login"> Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" routerLink="register" >Register/signUp</a>
              </li>
              
              
            </ul>
            
          </div>
        </div>
      </nav> 






  <div class="container">
    <router-outlet></router-outlet>

  </div>

  