
<div class="container mt-5" style="width: 700px; background-color: rgb(204, 151, 193);" >
    <h3 class="text-center">Update  Data</h3>
<form action="" [formGroup]="reForm" (ngSubmit)="onsubmit()">
    <div class="form-group">
        <label for="">Name:</label>
        <input type="text" class="form-control" formControlName="name" 
        required [ngClass]="{'is-invalid':isSubmitted && f.name.errors}" placeholder="">
        <div *ngIf="isSubmitted && f.name.errors?.required" class="invalid-feedback">Name is required. </div>
    </div>
    <div class="form-group">
        <label for="">Age:</label>
        <input type="text" class="form-control" formControlName="age"
        required [ngClass]="{'is-invalid':isSubmitted && f.age.errors}">
        <div *ngIf="isSubmitted && f.age.errors?.required" class="invalid-feedback"></div>
    </div>
    <div class="form-group">
        <label for="">empId:</label>
        <input type="text" class="form-control" formControlName="empId"
        required [ngClass]="{'is-invalid':isSubmitted && f.empId.errors}">
        <div *ngIf="isSubmitted && f.empId.errors?.required" class="invalid-feedback"></div>
    </div>
    <div class="form-group">
        <label for="">Branch:</label>
        <input type="text" class="form-control" formControlName="branch"
        required [ngClass]="{'is-invalid':isSubmitted && f.branch.errors}">
        <div *ngIf="isSubmitted && f.branch.errors?.required" class="invalid-feedback"></div>
    </div>
    <div class="form-group">
        <label for="">Role:</label>
        <input type="text" class="form-control" formControlName="role"
        required [ngClass]="{'is-invalid':isSubmitted && f.role.errors}">
        <div *ngIf="isSubmitted && f.role.errors?.required" class="invalid-feedback"></div>
    </div>
<button  class ='btn btn-success my-3'type="submit">Submit</button>
</form>
</div>